# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<h1><b>Objectives:</b></h1>

<ul>
    <li>List popular languages for Data Science</li>
    <li>List popular libraries for Data Science</li>
    <li>List popular tools for Data Science</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
  <li>Python</li>
  <li>R</li>
  <li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
  <li>Pandas</li>
  <li>NumPy</li>
  <li>Matplotlib</li>
</ol>

# Data Science Tools
<table>
  <tr>
    <th>Data Science Tools</th>
  </tr>
  <tr>
    <td>Jupyter Notebook</td>
  </tr>
  <tr>
    <td>RStudio</td>
  </tr>
  <tr>
    <td>IBM Watson Studio</td>
  </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335

## Author
Soon Jynn Chu